<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BSol Server</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('web2/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('web2/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('web2/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('web2/css/AdminLTE.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('web2/css/_all-skins.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('web2/css/ionicons.min.css') }}"/>
    <link href="{{ asset('web2/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('images/logo_bsol2.ico') }}' />
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
                
                
                </br>
                </br>
                </br>
                </br>
                </br>
              <img src="{{ asset('images/logo.jpg') }}" style=" width: 200px; margin-bottom: 23px;" />
              
              </br>
                </br>
              <div class="row top_tiles">
              
              
              <a href="{{ path('admin_transaction_stransaction_create') }}" style="color: gray">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red">P</span>

                    <div class="info-box-content">
                        <br>
                      <span class="info-box-number">
                          POS #3 
                      </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                </a>
              
            {% if (is_granted('ROLE_ADMIN')) %}
              
              {% endif %}
              
              {% if (is_granted('ROLE_SUPER_ADMIN')) %}
              
              <a href="{{ path('sonata_admin_dashboard') }}" style="color: gray">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red">D1</span>

                    <div class="info-box-content">
                        <br>
                      <span class="info-box-number">
                          Dashboard #1 
                      </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                </a>
              
              <a href="#" style="color: gray">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red">D2</span>

                    <div class="info-box-content">
                        <br>
                      <span class="info-box-number">
                          Dashboard #2
                      </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                </a>
                <a href="#" style="color: gray">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box">
                    <span class="info-box-icon bg-red">D3</span>

                    <div class="info-box-content">
                        <br>
                      <span class="info-box-number">
                          Dashboard #3 
                      </span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>
                </a>
              {% endif %} 
              
            
            </div>
            <hr>
                <span style="color: white;">©</span>
              <a href="#" style="color: white;"> 2020 - BSol</a>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>
  </body>
</html>